/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/
html {
    position: relative;
    /*min-height: 100%;*/
}


div.Container{
    width: 100%;
    background-image: url("backgroundImage.jpg");
    position:relative;
    height:auto !important;
    /*height:100%*/
    
    
}

header{
    margin-left: 50px;
    margin-right:50px;
    background-color: white;
    color:black;
    padding: 5px;
    max-width:90%;
    position: relative;
    margin: auto;
}

h1{
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
}

h2{
    color: #111; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 0 0 24px;  
    text-align: center;
    text-decoration: underline;
    
}


ul{
    list-style-type: none;
    max-width: 90.7%;
    margin-left: 50px;
    margin-right: 50px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #65C7E7;
}

li{
    list-style-type: none;
    float: left;
    color: white;
    text-align: center;
    font-family: 'Raleway',sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    line-height: 32px; 
    text-align: center;
}

li a {
    list-style-type: none;
    display: block;
    width: 100px;
    padding: 0px;
    color: white;
    text-align: center;
    padding: 16px;
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    line-height: 32px; 
}

li a:hover {
    background-color: black;
}

div.MainBody{
    max-width: 70%;
    height: auto; 
    min-height:100%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    background-color:#65C7E7;
   
}

/*img{
    margin:25px;
    border: 5px solid #000;
    width: 250px;
    height:250px;
    float:left;
    display: inline-block;
    margin-bottom:20px;
    
   
}*/




h3{
    color: white; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 0 0 24px;  
    text-align: center;
}

h4{
    color: white; 
    font-family: 'Raleway',sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 0 0 24px;  
    text-align: center;
}

.colorwhite
{
    color: white !important; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
    margin: 0 0 24px;  
    text-align: center;
}

p{
    color: white !important; 
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
    margin: 0 0 24px;  
    text-align: left;
}

div.Login{
    display:inline-block;
    margin:auto;
    width: 60%;
    height: auto;
    position:relative;
    background-color: #65C7E7;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow:auto;
    
}

div.Upload{
    display:inline-block;
    margin:auto;
    width: 40%;
    height: auto;
    position:relative;
    background-color: #65C7E7;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 150px;
    padding-top: 5px;
    font-size: 1.4em;
    color: white; 
    font-family: 'Raleway',sans-serif; 
}


input[type=text], select {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: black; 
    font-family: 'Raleway',sans-serif; 
}

input[type=password], select {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: black; 
    font-family: 'Raleway',sans-serif; 
}

.profile input[type=submit] {
    width: 300px;
    background-color:  #22aedd;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    


    
}

input[type=submit] {
    width: 40%;
    background-color: #22aedd;
    padding: 14px;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1.4em;
    position: relative;
    left:30%;
    
}

textarea {
    resize:none;
    margin-left: 20px;
}

.push{
    clear:both;
}

li.footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin: auto;
    /*max-width: 91.5%;*/
    text-align: center;
/*    clear:both;*/
}




